body{
    background-color: rgb(137, 128, 128);
}
#blue
{
    background-color: blue;
}
#white
{
    background-color: White;
}
#yellow
{
    background-color: yellow;
}
#green
{
    background-color: greenyellow ;
}

span
{    
    padding:30px;
}
h2
{
    margin-top:30%;
}
.canvas
{
    margin-top:20%;
}